/* parte para estilizar parte do faleconosco */

main .contact-form > div {
    margin: 15px 0px;
}

main .contact-form > div label {
    display: block;
    margin-bottom: 10px;
}

main .contact-form input,
main .contact-form select,
main .contact-form textarea {
    width: 90%;
    padding: 5px 15px;
    outline-color: #3bd42d;
}

main .contact-form select {
    width: 100%;
}

main .contact-form textarea {
    resize: none;
    padding-top: 15px;
}

main .contact-form > div [type="radio"],
main .contact-form > div [type="checkbox"] {
    width: 25px;
}

main .contact-form > div:nth-child(4) span {
    color: #25cbd3;
}