/* estilos focados na pagina professores */

.content-container > div img {
    width: 98%; 
    border-radius: 20px;
    border: 5px double;
}

.content-container {
    padding: 20px;
}

.content-container article p {
    text-align: center;
}

@media screen and (min-width: 992px){

    .content-container > div img {
        width: 50%;
    }
}